html {
  font-size: 62.5%; /* esto hará que 1 rem sea igual a 10px */
  color: #0a3871;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", arial;
  font-size: 1rem;
  min-height: 100vh;
}

header {
  display: flex;
}
header img {
  width: 13vh;
  margin: 10px 0;
}

main {
  font-size: 2.5rem;
  color: #0a3871;
}
form {
  margin: 0 10px;
}

#texto-para-procesar {
  display: block;
  margin: 20px 0 0 0;
  border: none;
  width: 90%;
  height: 30vh;
}
#texto-para-procesar::placeholder {
  color: #0a3871;
  border: none;
}
/* #texto-para-procesar::focus {
  border: none;
} */

span {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #495057;
  margin: 1px;
}

.contenedor-botones {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  font-size: 1.5rem;
  width: 80%;
  width: fit-content(80%);
  height: 50px;
  border-radius: 24px;
  margin: 5px;
}

.btn-primary {
  background: #0a3871;
  color: #ffffff;
}

.btn-secondary {
  border: 1px solid #0a3871;
  color: #0a3871;
  background-color: transparent;
}

.extra {
  flex-direction: row;
}

.btn-extra {
  font-size: 1.5rem;
  width: 40%;
  width: fit-content(80%);
  height: 50px;
  border-radius: 24px;
  margin: 5px;
  border: 1px solid #0a3871;
  color: #0a3871;
  background-color: transparent;
}

.contenedor-resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3px;
  background: #e6e4e4;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.contenedor-resultado img {
  display: none;
}

.contenedor-resultado h2 {
  text-align: center;
  font-size: 2.4rem;
  color: #343a40;
}

.contenedor-resultado p {
  text-align: center;
  font-size: 1.5rem;
  color: #343a40;
}

footer {
  margin: 20px;
  font-size: 1.5rem;
  text-align: center;
}

#textarea-resultado {
  margin: 10px;
  width: 90%;
  height: 80%;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 630px) {
  .contenedor-botones {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  form {
    width: 80%;
    margin-left: 12vw;
  }

  #texto-para-procesar {
    margin: 20px 0 0 0;
    width: 90%;
    height: 60vh;
  }

  .contenedor-resultado img {
    display: initial;
  }
}
